.kc_image_gallery{
	.item-grid{
		img{
			filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			filter: gray;
			&:hover{
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				-o-filter: grayscale(0%);
				filter: none;
				@include transition(all 0.35s ease 0s);
			}
		}
	}
}
.kc_tabs{
	&.hightlight{
		.ui-tabs{
			border: none;
		}
		.kc_tab.ui-tabs-body-active{
			padding: 0;
			margin-top: $grid-gutter-width;
		}
		.kc_wrapper{
			.kc_tabs_nav{
				background: transparent;
				text-align: center;
				height: auto;
				font-size: 20px;
				position: relative;

				li{
					float: none;
					font-weight: bold;
					color: $link-color;
					text-transform: uppercase;
					display: inline-block;
					@media (min-width: $screen-sm) and (max-width: $screen-sm-max){
						padding: 0 10px;
					}
					a:hover,&:hover{
						background: transparent;
					}
				}
				.ui-tabs-active{
					background: transparent;
					color: $link-hover-color;
					a{
						color: $link-hover-color;
					}
				}
			}
		}
	}
}
.kc-pie-chart-wrapper {
	.pie_chart_text{
		h3{
			color: $theme-color;
			font-size: 14px;
		}
	}
}

.kc_button{
	    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
h2.kc_title{
    letter-spacing: -3px;
    position: relative;
    padding-bottom: 15px; 
    font-size: 60px;
	&:after{
		    content: "";
	    position: absolute;
	    width: 80px;
	    height: 5px;
	    background: $theme-color;
	    bottom: 0;
	    left: 50%;
	    margin-left: -40px;
	}
	@media(max-width: $screen-sm-max){
		font-size: 30px;
		    letter-spacing: 0;
	}
}

@media(max-width: $screen-xs-max){
	.kc_column{width: 100%!important;}
}