
/**
 * 6.3 Entry Meta
 * -----------------------------------------------------------------------------
 */
.cat-links {
/* 	font-weight: 900; */
	text-transform: capitalize;
}

.cat-links a {
	color: #2b2b2b;
}

.cat-links a:hover {
	color: #41a62a;
}

.byline {
	display: none;
}
.entry-meta {
	clear: both;
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top:10px;
	width:100%;
	overflow:hidden;
	a{
	}
	span{
	}
	.tag-links{
		margin: 0;
	}
}
.entry-date,
.meta-sep,
.author,
.entry-category,
.comments-link,
.edit-link {
	a {
		margin: 0 5px;
	}
}
.entry-category {
	ul {
		margin: 0;
		display: inline-block;
		padding:0;
		li {
			margin: 0;
			padding: 0;
			display: inline-block;
			list-style: none;
		}
	}
}

/**
 * 6.4 Entry Content
 * -----------------------------------------------------------------------------
 */

.entry-content,
.entry-summary,
.page-content {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
	margin-bottom: 20px;
}



.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a {
	text-decoration: none;
}

.entry-content a:hover,
.entry-summary a:hover,
.page-content a:hover,
.comment-content a:hover,
.entry-content a.button,
.entry-summary a.button,
.page-content a.button,
.comment-content a.button {
	text-decoration: none;
}

.entry-content table,
.comment-content table {
	font-size: 14px;
	line-height: 1.2857142857;
	margin-bottom: 24px;
}

.entry-content th,
.comment-content th {
	font-weight: 700;
	padding: 8px;
	text-transform: uppercase;
}

.entry-content td,
.comment-content td {
	padding: 8px;
}

.entry-content .edit-link {
	clear: both;
	display: block;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3333333333;
	text-transform: uppercase;
}

.entry-content .edit-link a {
	color: $theme-color;
	text-decoration: none;
}

.entry-content .edit-link a:hover {
	color: #41a62a;
}

.entry-content .more-link {
	white-space: nowrap;
}
.ratings a{
	text-indent:-9999em !important;
}


.entry-content-page{
    .edit-link{
        background:#000;

        position: absolute;
        top: 0;
        right: 0;
        padding:5px 6px;
        a{
            font-size: 11px;
          color: #FFF!important;
        }
        z-index: 10000;
    }
    position:relative;
}
.opal-social-share{
	margin:20px 0;
	clear: both;
}
/* Tag links style */
.tag-links{
	a{
		color: #fff;
		display: inline-block;
		font-size: 11px;
		font-weight: 700;
		line-height: 1.2727272727;
		@include rtl-margin-right(10px);
		padding: 5px;
		margin-bottom: 3px;
		position: relative;
		text-transform: none;

	  	&:hover {
		    background-color: darken($theme-color, 5%);
		    color: #fff;
	  	}
  	}
}

/**
 * Navigation links
 */
.nav-links{
	margin-bottom: 30px;
	margin-left: -10px;
	margin-right: -10px;
	a {
		display: block;
		@include rtl-float-left();
		width: 50%;
		padding: 0 10px;
		> div {
			background-color: #f2f2f2;
			padding: 20px 30px 30px;
			font-size: 16px;
			float: none !important;
			&.pull-right {
				@include rtl-text-align-right();
				.meta-nav {
					&:after {
						font-family: 'FontAwesome';
						content: "\f105";
						@include rtl-margin-left(7px);
						font-size: 16px;
					}
				}
			}
			&.pull-left {
				.meta-nav {
					&:before {
						font-family: 'FontAwesome';
						content: "\f104";
						@include rtl-margin-right(7px);
						font-size: 16px;
					}
				}
			}
		}
	}
	.meta-nav{
		display: block;
		text-transform: uppercase;
		color: $light-gray;
		font-size: 14px;
		margin-bottom: 7px;
		position: relative;
	}
}

/* Mediaelements */

.hentry .mejs-container {
	margin: 12px 0 18px;
}

.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
	background: #000;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #fff;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #24890d;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: rgba(255, 255, 255, .33);
}

.hentry .mejs-container .mejs-controls .mejs-time {
	padding-top: 9px;
}

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 0;
}

.hentry .mejs-overlay-loading {
	background: transparent;
}

.hentry .mejs-overlay-button {
	background-color: #fff;
	background-image: none;
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.8);
	color: #000;
	height: 36px;
	margin-left: -24px;
	width: 48px;
}

.hentry .mejs-overlay-button:before {
	-webkit-font-smoothing: antialiased;
	content: '\f452';
	display: inline-block;
	font: normal 32px/1.125 Genericons;
	position: absolute;
	top: 1px;
	left: 10px;
}

.hentry .mejs-controls .mejs-button button:focus {
	outline: none;
}

.hentry .mejs-controls .mejs-button button {
	-webkit-font-smoothing: antialiased;
	background: none;
	color: #fff;
	display: inline-block;
	font: normal 16px/1 Genericons;
}

.hentry .mejs-playpause-button.mejs-play button:before {
	content: '\f452';
}

.hentry .mejs-playpause-button.mejs-pause button:before {
	content: '\f448';
}

.hentry .mejs-volume-button.mejs-mute button:before {
	content: '\f109';
	font-size: 20px;
	position: absolute;
	top: -2px;
	left: 0;
}

.hentry .mejs-volume-button.mejs-unmute button:before {
	content: '\f109';
	left: 0;
	position: absolute;
	top: 0;
}

.hentry .mejs-fullscreen-button button:before {
	content: '\f474';
}

.hentry .mejs-fullscreen-button.mejs-unfullscreen button:before {
	content: '\f406';
}

.hentry .mejs-overlay:hover .mejs-overlay-button {
	background-color: #24890d;
	color: #fff;
}

.hentry .mejs-controls .mejs-button button:hover {
	color: #41a62a;
}
.gallery-columns-3 .gallery-item{
	&:nth-child(3n+1){
		clear:both;
	}
}
article{
	position: relative;
	.entry-title{
	    font-size: 14px;
	    text-transform: uppercase;
	    font-weight: 600;
	    line-height: 1.5;
    	.related-posts-content &{font-size: 14px !important;}
	}
	h1.entry-title{
	}
	.entry-meta{
		    color: #bbb;
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 11px;
    a{color: #777;}
	}
	.entry-date{
	}
	.list-item{
		h3{
			font-size: 18px;
		}
	}
	&.post {
	}
	&.page{
	}
	.post-format a{
		i{
			display: none;
		}

	}
	.post-content{
		span{
			a{
				display: inline-block;
				color: $theme-color;
				margin-top: 10px;
				&:hover{
					color: darken($theme-color,5%);
				}
			}
		}
		a{
			display: block;
			margin-top: 10px;
			color: $theme-color;
		}
	}
}
.related-posts{
	.widget-title{
		span{
			padding: 20px 0;
		}
	}
}
/*------------------------------------*\
    Comment List
\*------------------------------------*/

.comments{
	.comments-title {
		font-size: 24px;
	    margin-bottom: 0;
	    padding: 13px 0;
	    position: relative;
	    color: $black;
    }
    .the-comment{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dotted $border-color;
    .avatar{
        @include rtl-float-left();
        margin-right:5px;
        img{
            @include size(50px, 50px);
            @include border-radius(50%);
          }
        }
    }
    .children{
        .the-comment{
            @include rtl-padding-left(65px);
        }
        .children{
	        .the-comment{
	            @include rtl-padding-left(130px);
	        }
	    }
    }
    .comment-author{
        color: $theme-color;
    }
    .comment-meta {
        font-size: $font-size-base - 2;
        color: #aaa;
    }
    a{
        color: $theme-color;
        text-transform: uppercase;
        font-size: 12px;
    }
    ol, ul {
      list-style: none;
      margin: 0;
      padding: 0;
      ol,ul{
      	padding-left: 20px;
      }
    }

}