/* block */

.#{$block-selector} {
        position: relative;
    .#{$block-heading-selector}{
        font-size: 16px;
        position: relative;
        margin-top: 0;
        margin-bottom: $grid-gutter-width;
        letter-spacing: 0px;
        text-transform: uppercase;
        > span{
            position: relative;
            padding: $block-module-heading-padding;
            display: block;
        }
    }
    .#{$block-content-selector} {
    }
    /* block styles */
    &.nopadding{
        .#{$block-content-selector}{
            padding:0;
            margin: 0;
        }
    }
}

/**
 * Styling Css for widgets in Sidebar Left Static
 */
.#{$block-prefix}-static{
    .#{$block-heading-selector}{
        color:#FFFFFF;
    }
    ul li { border:none }
}

.sidebar{
    .widget{
        border: 1px solid $border-color;
        margin-bottom: $block-module-margin-bottom;
        .widget-title,.widgettitle{
            margin: $block-module-heading-margin  ;
            border-bottom: 1px solid $border-color;
            font-size: $block-module-heading-font-size;
            font-weight: $block-module-heading-font-weight;
            letter-spacing: 0;
        }
        ul.product_list_widget{
            padding: 20px 0;
            li{
                padding: 15px 20px;
            }
        }
    }
    .widget-content{
        border: 1px solid $border-color;
    }
}

/**
 * Styling Css for widgets in footer layout
 */
.opal-footer{
    .#{$block-selector} {
        .#{$block-heading-selector}{
            font-size: 16px;
            color: $white;
        }
    }
}