/************************
 * Form Styles
 ************************/

//// normal button
.woocommerce #respond input#submit, .woocommerce button.button, .woocommerce input.button{
 	@include button-variant( $btn-primary-color, $btn-primary-bg, $btn-primary-border);
    border-radius: 30px; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    padding:$padding-large-vertical $padding-large-horizontal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}

.woocommerce a.button, a.yith-wcwl-add-button{
    font-weight: normal;
    border-radius: 0;
    background: transparent;
    &:hover{
        background:$white;
        color: $black;
        @include transition(all 0.35s ease 0s);
    }
}
/// submission buttons

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	@include button-variant( $btn-primary-color, $btn-primary-bg, $btn-primary-border);
    border-radius:30px; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    padding:$product-button-padding;
    text-transform: uppercase;
    @media (max-width: $screen-phone) {
        padding: 15px;
    }
}

/// add to cart button and buy product button
 .woocommerce  a.add_to_cart_button, .woocommerce a.product_type_external, #main-container .woocommerce button.button.single_add_to_cart_button {
    i{
        color: $gray-dark;
    }
    &:hover{
        color: $black;
        &:hover{
            color: $theme-color;
        }
    }
}
.woocommerce .wishlist_table td.product-add-to-cart a{
    background: $theme-color;
    color: $white;
    padding: 15px 0;
    &:hover{
        color: $white;
    }
}
///


/**
 * Input Form Styles
 */
//// input and textarea. styles extended from bootstrap form
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text, .woocommerce form .form-row textarea,  .woocommerce select, .woocommerce-cart table.cart input.input-text {
	display: block;
	height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
	padding: $padding-base-vertical $padding-base-horizontal;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $input-color;
	background-color: $input-bg;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid $input-border;
	border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
	@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

	// Customize the `:focus` state to imitate native WebKit styles.
	@include form-control-focus;

	// Placeholder
	@include placeholder;

	// Disabled and read-only inputs
	//
	// HTML5 says that controls under a fieldset > legend:first-child won't be
	// disabled if the fieldset is disabled. Due to implementation difficulty, we
	// don't honor that edge case; we style them as disabled anyway.
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		background-color: $input-bg-disabled;
		opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
	}

	&[disabled],
	fieldset[disabled] & {
		cursor: $cursor-disabled;
	}
}
.woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button,
.woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input,
.woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button,
.woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input{
    width: auto!important;
}
.woocommerce form .form-row textarea{
   min-height: 100px;
}
.woocommerce-cart table.cart input.button{color: #fff!important;}
.woocommerce-cart table.cart input.button:disabled:hover{background: darken($theme-color,10%);}
.woocommerce-cart table.cart input{
   line-height: 1.62857;
   text-transform: uppercase;
   padding: 5px 15px;
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max){
        width: auto !important;
    }
    @media (max-width: $screen-phone){
        width: auto !important;
    }
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: auto!important;
    padding: 9px ;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: $theme-color;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
    @media screen and (max-width: $screen-xs-min) {
        float: none!important;
        width: auto!important;
    }
}
// tab
.woocommerce-tabs{
    .panel {
        border:none;
        margin:0 !important;
        @include box-shadow(none);
    }
    .shop_attributes{
        border:0 !important;
    }
}