/*
Theme Name:   LiftsupplyChild
Description:  Child Theme to maintain customisation for Marine Torq
Author:       redback
Author URL:   https://rb.com.au/
Template:     liftsupply
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  LiftsupplyChild
*/

/* Write here your own personal stylesheet */
#opal-topbar + #opal-masthead.header-absolute {
	position: relative;
}

.topbar-call-button {
	padding: 20px;
    font-size: 1.3em;
    font-weight: 900;
    color: #FFF;
	text-transform: uppercase;
    letter-spacing: 0.1em;
}
.topbar-call-button:hover {
	color: #FFF;
}

header #search-container {
	display: none !important;
}

.form-group {
	margin-bottom: 0 !important;
}

.wpcf7 .form-group {
	margin-bottom: 15px !important;
}

.form-group.col-12 {
	padding-left: 15px;
	padding-right: 15px;
}

.form-block .btn-primary {
	margin-top: 20px;
}

.form-block .btn-primary br {
	display: none;
}