$theme-font-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #a1e03d;
$link-hover-color			:#a1e03d;
$brand-primary              :#a1e03d;
$topbar-bg					:transparent;
$body-bg					:#191919;
$footer-bg					:#191919;
$copyright-bg   			:#191919