/* $headings-font-weight:    700 !default; */
/**
 * Import component variables
 */
/** elements mixins **/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/*inline-block
============================================*/
/****/
/****/
/****/
/** elements mixins **/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/*inline-block
============================================*/
/****/
/****/
/*
 * Global variables
 */
/* main color which will be used for all main block styles... */
/**
 * Import component variables
 */
/**
 *
 */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
/**
 *   Blocks Layout Selectors
 */
/********* LAYOUT **************/
.widget_nav_menu ul li:last-child {
  padding-bottom: 0; }

/*------------------------------------*    Widget Price Filter
\*------------------------------------*/
.widget_price_filter .price_slider_wrapper {
  padding: 20px; }

.widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #a1e03d !important; }

.widget_price_filter .price_slider_wrapper .ui-widget-content {
  margin-bottom: 30px;
  background-color: #ededed !important; }

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  background: #000 !important; }

.widget_price_filter .price_slider_amount .button {
  padding: 15px 30px;
  background: #f6f6f6;
  text-transform: uppercase;
  color: #000; }

/*------------------------------------*    Product List Widget
\*------------------------------------*/
.woocommerce ul.product_list_widget {
  list-style: none; }
  .woocommerce ul.product_list_widget li {
    padding: 15px 0; }
    .woocommerce ul.product_list_widget li del {
      font-size: 15px;
      color: #a1e03d;
      opacity: .5; }
    .woocommerce ul.product_list_widget li ins {
      color: #444;
      font-size: 13px;
      text-decoration: none;
      font-weight: 700; }
    .woocommerce ul.product_list_widget li img {
      width: 80px;
      float: left;
      margin-left: 0;
      margin-right: 15px; }
      .rtl .woocommerce ul.product_list_widget li img {
        float: right;
        margin-right: 0;
        margin-left: inherit;
        margin-left: 15px;
        margin-right: inherit; }
    .woocommerce ul.product_list_widget li .star-rating {
      font-size: 10px;
      margin-bottom: 5px; }
      .woocommerce ul.product_list_widget li .star-rating span:before {
        color: #f0c73b; }
    .woocommerce ul.product_list_widget li .product-title {
      height: 42px;
      overflow: hidden;
      display: block;
      line-height: 20px;
      font-size: 13px; }
    .woocommerce ul.product_list_widget li .product-title,.woocommerce ul.product_list_widget li a {
      margin-bottom: 5px;
      text-transform: uppercase;
      font-weight: 400; }

/**
 * Styling special product block.
 */
.products.related,.products.upsells {
  padding: 0;
  margin-bottom: 30px; }
  .products.related .owl-controls,.products.upsells .owl-controls {
    display: none !important; }

.product>#reviews>h3,.products.related h2,.products.upsells h2 {
  color: #000;
  padding: 20px 0;
  margin: 0;
  font-size: 12px;
  position: relative;
  letter-spacing: 2px;
  z-index: 3; }

.product>#reviews {
  border: 1px solid #ededed;
  margin-bottom: 30px; }

/**
 * Deal Modules
 */
.woo-deals {
  background: #fff; }
  .woo-deals .carousel-inner {
    overflow: visible; }
  .woo-deals .owl-carousel-play {
    margin: 0; }
  .woo-deals .owl-carousel .owl-item {
    padding: 0; }
  .woo-deals .product-block .image {
    margin-bottom: 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      .woo-deals .product-block .image {
        padding: 54px 0 0 54px; } }
  .woo-deals .deals-information {
    margin-bottom: 30px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 40px; }
    .woo-deals .deals-information .name {
      font-size: 44px;
      margin-top: 30px;
      height: 96px;
      overflow: hidden;
      line-height: 45px; }
    .woo-deals .deals-information .price {
      font-size: 30px;
      margin-bottom: 20px; }
  .woo-deals .caption {
    padding: 35px; }
    @media (max-width: 480px) {
      .woo-deals .caption {
        padding: 10px; } }
  .woo-deals .countdown-times>div {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #999;
    float: left;
    text-transform: uppercase;
    border-right: 2px solid #bcbcbc; }
    .rtl .woo-deals .countdown-times>div {
      float: right;
      border-left: 2px solid #bcbcbc;
      border-right: inherit; }
    .woo-deals .countdown-times>div>b {
      display: block;
      font-size: 26px;
      font-weight: 700;
      color: #000;
      width: 70px;
      height: 36px;
      line-height: 36px; }
      @media (max-width: 480px) {
        .woo-deals .countdown-times>div>b {
          width: 58px;
          font-size: 20px; } }
    .woo-deals .countdown-times>div:last-child {
      border-right: 0; }
      .rtl .woo-deals .countdown-times>div:last-child {
        border-left: 0;
        border-right: inherit; }

/**
 * Widget Products Categories Menu 
 */
.widget_categories .widget-title,.widget_product_categories .widget-title {
  background: #a1e03d;
  color: #fff; }

ul.product-categories {
  list-style: none; }
  ul.product-categories li.cat-parent .children {
    background: #f7f7f7; }
  ul.product-categories li.current-cat-parent>a,ul.product-categories li.current-cat>a {
    color: #a1e03d; }
  ul.product-categories li ul li {
    border-bottom: 0; }
  ul.product-categories li {
    position: relative;
    border-bottom: 1px solid #eee; }
    ul.product-categories li .closed,ul.product-categories li .opened {
      position: absolute;
      right: 15px;
      top: 17px;
      content: "";
      font-size: 14px;
      color: #aaa;
      cursor: pointer;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center; }
      .rtl ul.product-categories li .closed,.rtl ul.product-categories li .opened {
        left: 15px;
        right: auto; }
      ul.product-categories li .closed:hover,ul.product-categories li .opened:hover {
        color: #a1e03d; }
    ul.product-categories li a {
      padding: 15px 20px;
      display: block;
      color: #000;
      font-size: 12px;
      text-transform: uppercase;
      font-family: Poppins; }
      ul.product-categories li a:hover {
        color: #a1e03d; }
    ul.product-categories li li a {
      font-size: 14px;
      font-family: Poppins,sans-serif;
      padding: 5px 20px;
      color: #999;
      text-transform: none; }
      ul.product-categories li li a:hover {
        color: #a1e03d; }
    ul.product-categories li:last-child {
      border-bottom: none; }

/*
**  opal category list
*/
.opal-category-list #opal-accordion-categories .category-title {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 17px 15px;
  padding-right: 20px;
  padding-left: 30px;
  width: 100%;
  background: url(../../../images/list-style.png) no-repeat 15px 25px transparent; }
  .rtl .opal-category-list #opal-accordion-categories .category-title {
    padding-left: 20px;
    padding-right: inherit;
    padding-right: 30px;
    padding-left: inherit; }
  .opal-category-list #opal-accordion-categories .category-title a {
    text-transform: uppercase;
    font-size: 12px; }
    .opal-category-list #opal-accordion-categories .category-title a:hover {
      color: #a1e03d; }
  .opal-category-list #opal-accordion-categories .category-title a.dropdown {
    float: right;
    margin-left: 10px; }
    .rtl .opal-category-list #opal-accordion-categories .category-title a.dropdown {
      float: left;
      margin-right: 10px;
      margin-left: inherit; }
  .opal-category-list #opal-accordion-categories .category-title .total-product {
    display: inline-block; }

.opal-category-list #opal-accordion-categories .panel-collapse .category-title {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  background-position: 12px 12px; }
  .opal-category-list #opal-accordion-categories .panel-collapse .category-title a {
    font-size: 11px; }

/*------------------------------------*    Cart
\*------------------------------------*/
.cart_list>div {
  margin: 10px 0;
  padding: 10px 0; }

.cart_list .name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  margin-top: 0;
  font-family: Poppins,sans-serif; }

.cart_list .image {
  width: 82px;
  height: 82px; }

.cart_list .cart-item {
  line-height: 1.1;
  margin: 0;
  font-size: 14px; }
  .cart_list .cart-item .amount {
    font-size: 14px;
    color: #a1e03d; }

.cart_list .cart-main-content {
  text-align: left;
  position: relative; }
  .rtl .cart_list .cart-main-content {
    text-align: right; }
  .cart_list .cart-main-content .remove {
    position: absolute;
    right: 0;
    top: auto;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 25px;
    /* 9 */
    font-size: 2.5rem;
    /* 9 */
    bottom: 10px;
    height: 20px;
    font-weight: 400;
    color: #555 !important; }
    .rtl .cart_list .cart-main-content .remove {
      left: 0;
      right: auto; }
    .cart_list .cart-main-content .remove:hover {
      background: transparent;
      color: #a1e03d !important; }

.cart_list+.total {
  text-align: right;
  margin-top: 10px;
  padding: 0 15px; }
  .rtl .cart_list+.total {
    text-align: left; }
  .cart_list+.total .amount {
    font-size: 15px; }

.widget_shopping_cart .widget_shopping_cart_content .buttons {
  padding: 20px 15px;
  overflow: hidden; }

/*------------------------------------*    Mini Cart
    Product Detail Page
    Product Single Page
    Products Listing In Grid Style
    Single product
    // product woocommerce tabs
    Category And Listing Page
    Quickview
    Checkout Page
    Thanks you page
\*------------------------------------*/
.opal-topcart {
  font-size: 12px;
  text-transform: uppercase; }
  .opal-topcart strong {
    color: #a1e03d;
    font-weight: 600; }
  .opal-topcart .cart-icon {
    width: 40px;
    height: 40px;
    background: #a1e03d;
    text-align: center;
    line-height: 40px;
    padding: 0;
    color: #fff;
    border-radius: 100%;
    float: left;
    margin-left: 15px;
    margin-right: 10px; }
  .opal-topcart .box-title,.opal-topcart .mini-cart {
    display: inline-block; }
    .opal-topcart .mini-cart .title-cart {
      display: block; }
  .opal-topcart .dropdown.open .mini-cart:before {
    content: "";
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px; }
  .opal-topcart .dropdown-menu,.rtl .opal-topcart .dropdown.open .mini-cart:before {
      right: 0;
      left: auto; }
  .opal-topcart .dropdown-menu {
    padding: 20px;
    min-width: 320px;
    display: block;
    visibility: hidden;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .3s cubic-bezier(.34,1.61,.7,1);
    -o-transition: all .3s cubic-bezier(.34,1.61,.7,1);
    transition: all .3s cubic-bezier(.34,1.61,.7,1);
    margin: 0;
    border: 2px solid #ededed; }
    .rtl .opal-topcart .dropdown-menu {
      text-align: right;
      left: auto;
      left: 0;
      right: auto; }
    .opal-topcart .dropdown-menu .quantity {
      font-size: 14px; }
  .opal-topcart .media {
    border-bottom: 1px solid #ededed;
    padding-bottom: 30px; }
  .opal-topcart .name {
    font-size: 12px;
    margin-bottom: 10px; }
    .opal-topcart .name a {
      color: #000 !important; }
      .opal-topcart .name a:hover {
        color: #a1e03d !important; }
  .opal-topcart .open .dropdown-menu {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform-origin: 29px -50px;
    -moz-transform-origin: 29px -50px;
    -ms-transform-origin: 29px -50px;
    transform-origin: 29px -50px;
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    visibility: visible;
    z-index: 5; }
  .opal-topcart .total {
    padding-bottom: 10px; }
  .opal-topcart .buttons {
    margin-bottom: 0;
    padding: 15px 20px;
    text-transform: uppercase; }

#cart .mini-cart .mini-cart-total {
  float: left;
  margin: 0 10px; }
  .rtl #cart .mini-cart .mini-cart-total {
    float: right; }

/*
 * Product Detail Page
 */
.product-info .product-topinfo .product-nav p {
  float: left;
  margin-left: 5px;
  margin-top: 10px; }
  .rtl .product-info .product-topinfo .product-nav p {
    float: right;
    margin-right: 5px;
    margin-left: inherit; }

.product-info .product-topinfo .product-nav a {
  font-size: 13px;
  color: #000;
  font-weight: 600;
  line-height: 26px;
  border: 2px solid hsla(0,0%,88%,.7);
  width: 30px;
  height: 30px;
  text-align: center;
  display: block; }
  .product-info .product-topinfo .product-nav a .fa {
    padding: 0 4px; }
  .product-info .product-topinfo .product-nav a:hover {
    background: #a1e03d;
    -webkit-transition: all .35s ease 0s;
    -o-transition: all .35s ease 0s;
    transition: all .35s ease 0s; }

.product-info .product-topinfo .product_title {
  color: #000; }

.product-info div.row {
  background: #fff; }

.product-info .images {
  position: relative;
  width: 100% !important; }

.product-info .price>* {
  text-decoration: none; }

.product-info .price del span {
  margin-right: 5px;
  font-size: 16px;
  text-decoration: line-through; }
  .rtl .product-info .price del span {
    margin-left: 5px;
    margin-right: inherit; }

.product-info .image-additional.owl-carousel-play .carousel-controls {
  bottom: 0;
  top: 25%;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .rtl .product-info .image-additional.owl-carousel-play .carousel-controls {
    right: 0;
    left: auto; }

.product-info .image-additional:hover .carousel-controls {
  opacity: 1; }

.product-info span.onsale {
  width: 40px;
  height: 25px;
  background-color: #e93434;
  top: 12px;
  left: 8%;
  line-height: 20px;
  font-weight: 400;
  z-index: 1;
  border-radius: 0;
  min-height: 25px; }
  .rtl .product-info span.onsale {
    right: 8%;
    left: auto; }

.single-product-summary .yith-wcwl-add-to-wishlist {
  float: left;
  position: relative;
  margin-right: 20px;
  margin-top: 4px; }
  .rtl .single-product-summary .yith-wcwl-add-to-wishlist {
    float: right;
    margin-left: 20px;
    margin-right: inherit; }
  .single-product-summary .yith-wcwl-add-to-wishlist a {
    color: #444; }
    .single-product-summary .yith-wcwl-add-to-wishlist a:hover {
      color: #a1e03d; }
    .single-product-summary .yith-wcwl-add-to-wishlist a i {
      font-size: 12px; }
  .single-product-summary .yith-wcwl-add-to-wishlist .ajax-loading {
    margin: 0;
    position: absolute;
    top: 10px; }
  .single-product-summary .yith-wcwl-add-to-wishlist .feedback {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    display: none; }

.single-product-summary .clear {
  display: none; }

.single-product-summary .yith-wcwl-add-button a,.single-product-summary .yith-wcwl-add-button a.add_to_wishlist,.single-product-summary .yith-wcwl-wishlistaddedbrowse a,.single-product-summary .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist,.single-product-summary .yith-wcwl-wishlistexistsbrowse a,.single-product-summary .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist {
  text-transform: uppercase;
  font-size: 11px;
  display: inline;
  font-weight: 700;
  float: left; }
  .rtl .single-product-summary .yith-wcwl-add-button a,.rtl .single-product-summary .yith-wcwl-add-button a.add_to_wishlist,.rtl .single-product-summary .yith-wcwl-wishlistaddedbrowse a,.rtl .single-product-summary .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist,.rtl .single-product-summary .yith-wcwl-wishlistexistsbrowse a,.rtl .single-product-summary .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist {
    float: right; }
  .single-product-summary .yith-wcwl-add-button a.add_to_wishlist:hover,.single-product-summary .yith-wcwl-add-button a:hover,.single-product-summary .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist:hover,.single-product-summary .yith-wcwl-wishlistaddedbrowse a:hover,.single-product-summary .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist:hover,.single-product-summary .yith-wcwl-wishlistexistsbrowse a:hover {
    color: #a1e03d;
    text-decoration: none; }
  .single-product-summary .yith-wcwl-add-button a.add_to_wishlist i,.single-product-summary .yith-wcwl-add-button a i,.single-product-summary .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist i,.single-product-summary .yith-wcwl-wishlistaddedbrowse a i,.single-product-summary .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist i,.single-product-summary .yith-wcwl-wishlistexistsbrowse a i {
    margin: 0 5px; }

.single-product-summary .yith-wcwl-add-button>div,.single-product-summary .yith-wcwl-wishlistaddedbrowse>div,.single-product-summary .yith-wcwl-wishlistexistsbrowse>div {
  display: none; }

.single-product-summary .compare {
  color: #444 !important;
  font-size: 11px !important;
  font-weight: 700 !important;
  padding: 0 !important;
  text-transform: uppercase; }
  .single-product-summary .compare:before {
    content: "\f021";
    font-family: FontAwesome;
    color: #999;
    font-size: 12px;
    position: relative;
    right: 5px;
    font-weight: 400; }
    .single-product-summary .compare:hover,.single-product-summary .compare:hover:before {
      color: #a1e03d; }

.single-product-summary .yith-wcwl-wishlistaddedbrowse .feedback,.single-product-summary .yith-wcwl-wishlistexistsbrowse .feedback {
  color: #a1e03d;
  line-height: 40px;
  margin-right: 40px; }
  .rtl .single-product-summary .yith-wcwl-wishlistaddedbrowse .feedback,.rtl .single-product-summary .yith-wcwl-wishlistexistsbrowse .feedback {
    margin-left: 40px;
    margin-right: inherit; }

.productinfo-show-discounts {
  font-size: 12px;
  padding-left: 75px;
  position: relative;
  color: #666;
  float: left;
  margin-bottom: 20px !important;
  padding: 0;
  margin-bottom: 22px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d; }
  .rtl .productinfo-show-discounts {
    padding-right: 75px;
    padding-left: inherit;
    float: right; }
  .productinfo-show-discounts:before {
    background: url(../../../images/icon-show-discounts.png) no-repeat 50% #70ba28;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
    content: ""; }
    .rtl .productinfo-show-discounts:before {
      right: 20px;
      left: auto; }
  .productinfo-show-discounts hr {
    border-top-color: #c9e2b3; }
  .productinfo-show-discounts .alert-link {
    color: #2b542c; }
  .productinfo-show-discounts ul {
    list-style: none;
    margin-left: 40px;
    padding: 15px 30px; }
    .rtl .productinfo-show-discounts ul {
      margin-right: 40px;
      margin-left: inherit; }
    .productinfo-show-discounts ul li {
      padding: 3px 0; }
      .productinfo-show-discounts ul li:before {
        content: "\f14a";
        font-family: FontAwesome;
        color: #70ba28;
        padding-right: 8px; }
        .rtl .productinfo-show-discounts ul li:before {
          padding-left: 8px;
          padding-right: inherit; }

#reviews .reviews-summary {
  padding: 20px 0; }
  #reviews .reviews-summary h5 {
    text-transform: uppercase;
    margin-bottom: 20px; }
  #reviews .reviews-summary .review-summary-total {
    text-align: center;
    font-weight: 400; }
    #reviews .reviews-summary .review-summary-total .review-summary-result {
      width: 90px;
      height: 90px;
      text-align: center;
      border: 2px solid #f0c73b;
      color: #f0c73b;
      line-height: 90px;
      font-size: 24px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin-bottom: 8px; }
  #reviews .reviews-summary .review-summary-detal {
    overflow: hidden;
    display: block; }
    #reviews .reviews-summary .review-summary-detal .review-label {
      color: #000;
      font-weight: 400; }

#reviews .comments {
  border-top: 1px solid #ededed;
  padding-top: 20px; }
  #reviews .comments h5 {
    margin-bottom: 20px;
    text-transform: uppercase; }
  #reviews .comments .commentlist {
    margin: 15px 0; }
    #reviews .comments .commentlist .comment {
      margin-bottom: 30px; }
    #reviews .comments .commentlist .opal-avata {
      width: 100px;
      text-align: center; }
      #reviews .comments .commentlist .opal-avata>div {
        display: inline-block; }
      #reviews .comments .commentlist .opal-avata .opal-image .avatar {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        overflow: hidden; }
      #reviews .comments .commentlist .opal-avata .opal-author {
        color: #000;
        font-weight: 900;
        padding-top: 10px;
        text-transform: capitalize; }
    #reviews .comments .commentlist .comment-text {
      border: 1px solid #ededed;
      padding: 15px 20px; }
      #reviews .comments .commentlist .comment-text .meta {
        color: #bbb; }
      #reviews .comments .commentlist .comment-text>div {
        margin-bottom: 7px;
        float: left; }
        .rtl #reviews .comments .commentlist .comment-text>div {
          float: right; }
      #reviews .comments .commentlist .comment-text .star-rating {
        margin-bottom: 15px; }

#reviews .review_form_wrapper {
  border-top: 1px solid #ededed;
  padding: 20px 0; }

#reviews .progress {
  margin-bottom: 15px;
  background-color: #f2f2f2;
  -webkit-box-shadow: none;
  box-shadow: none; }
  #reviews .progress .progress-bar {
    color: #1f252b; }
    #reviews .progress .progress-bar.progress-bared {
      color: #fff; }

#reviews #reply-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Poppins,sans-serif; }

/**
 * Product Single Page
 */
.product-block {
  display: block;
  position: relative;
  z-index: 0;
  margin-bottom: 20px;
  text-align: center; }
  .product-block span.onsale,.product-block span.sale-off {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #a5dc11;
    color: #fff;
    top: 12px;
    left: 5%;
    font-size: 12px;
    font-weight: 600;
    z-index: 4;
    border-radius: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 0; }
    .rtl .product-block span.onsale,.rtl .product-block span.sale-off {
      right: 5%;
      left: auto; }
  .product-block .image {
    position: relative;
    margin-bottom: 20px; }
    .product-block .image img {
      height: auto;
      width: 100%; }
    .product-block .image .product-image,.product-block .image a {
      display: block;
      overflow: hidden;
      position: relative; }
    .product-block .image .image-effect {
      top: 0;
      position: absolute;
      overflow: hidden;
      left: 0;
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
      -o-transform: translate(-100%);
      transform: translate(-100%);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .rtl .product-block .image .image-effect {
        right: 0;
        left: auto; }
    .product-block .image .image-hover {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .product-block .image:hover .image-effect {
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transform: translate(0); }
    .product-block .image:hover .image-hover {
      -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
      -o-transform: translate(100%);
      transform: translate(100%); }
  .product-block .price {
    line-height: 1.6em;
    display: block;
    min-height: 30px;
    overflow: hidden;
    font-weight: 600; }
    .product-block .price>* {
      color: #a1e03d;
      font-size: 14px;
      display: block;
      overflow: hidden;
      min-height: 30px;
      display: inline-block; }
    .product-block .price del {
      color: #bbb; }
      .product-block .price del span {
        color: #bbb;
        font-size: 12px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .product-block .price del {
          display: none; } }
    .product-block .price ins {
      text-decoration: none; }
  .product-block .name {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 14px;
    /* 9 */
    font-size: 1.4rem;
    /* 9 */
    line-height: 1.5;
    font-weight: 600;
    overflow: hidden;
    margin: 5px 0 15px;
    min-height: 42px;
    text-transform: uppercase; }
  .product-block .category {
    text-transform: none;
    font-weight: 300;
    font-style: italic;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 12px;
    /* 9 */
    font-size: 1.2rem;
    /* 9 */ }
    .product-block .category a {
      color: #999; }
      .product-block .category a:hover {
        color: #a1e03d; }
  .product-block .rating {
    overflow: hidden; }
  .product-block .star-rating {
    font-size: 10px;
    display: inline-block !important;
    float: none;
    margin-bottom: 5px;
    font-family: star;
    height: 1em;
    line-height: 1;
    overflow: hidden;
    position: relative;
    width: 5.4em;
    margin: 0 auto 5px !important; }
    .product-block .star-rating:before {
      content: "\53\53\53\53\53";
      color: #d3ced2; }
    .product-block .star-rating:before,.product-block .star-rating span {
      float: left;
      left: 0;
      position: absolute;
      top: 0; }
    .product-block .star-rating span {
      overflow: hidden;
      padding-top: 1.5em; }
      .product-block .star-rating span:before {
        content: "\53\53\53\53\53";
        color: #f0c73b;
        left: 0;
        position: absolute;
        top: 0; }
  .product-block .star-rating span,.product-block p.stars a {
    color: #f0c73b; }
  .product-block .added_to_cart,.product-block .clear {
    display: none !important;
    clear: none; }
  .product-block .add_to_cart_button {
    position: relative; }
    .product-block .add_to_cart_button.loading .title-cart {
      visibility: hidden; }
      .product-block .add_to_cart_button.loading .title-cart:after {
        visibility: visible;
        content: "Loading..";
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        text-align: center; }
  @media (min-width: 1200px) {
    .product-block:hover .button-action {
      opacity: 1;
      transform: scale(1); } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .product-block:hover .button-action {
      opacity: 1;
      transform: scale(1); } }
  .product-block .add-cart a.button {
    padding: 22px 45px;
    background: #a1e03d;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 30px;
    color: #fff;
    border: 1px solid transparent; }
    .product-block .add-cart a.button:hover {
      border: 1px solid #a1e03d; }
  .product-block.product-style {
    padding-top: 50px; }
    @media (min-width: 1124px) {
      .product-block.product-style {
        padding-right: 70px; } }
    .product-block.product-style h3 {
      font-size: 20px; }
    .product-block.product-style .amount {
      font-size: 30px;
      font-weight: 600; }
    .product-block.product-style del .amount {
      font-size: 20px; }
    .product-block.product-style .price {
      line-height: 1.5; }
    .product-block.product-style .description {
      margin-bottom: 30px; }

.button-action {
  left: 0;
  opacity: 1;
  position: absolute;
  top: 35%;
  height: 0;
  -webkit-transition: all .35s ease 0s;
  -o-transition: all .35s ease 0s;
  transition: all .35s ease 0s;
  width: 100%;
  text-align: center;
  z-index: 2; }
  .rtl .button-action {
    right: 0;
    left: auto; }
  @media (min-width: 1200px) {
    .button-action {
      opacity: 0;
      transform: scale(0); } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .button-action {
      opacity: 0;
      transform: scale(0); } }
  .button-action>div.quick-view,.button-action>div.yith-compare,.button-action>div.yith-wcwl-add-to-wishlist {
    display: inline-block;
    margin-bottom: 15px; }
    .button-action>div.quick-view .yith-wcwl-wishlistaddedbrowse a,.button-action>div.quick-view .yith-wcwl-wishlistexistsbrowse a,.button-action>div.quick-view a.add_to_wishlist,.button-action>div.quick-view a.compare,.button-action>div.quick-view a.quickview,.button-action>div.yith-compare .yith-wcwl-wishlistaddedbrowse a,.button-action>div.yith-compare .yith-wcwl-wishlistexistsbrowse a,.button-action>div.yith-compare a.add_to_wishlist,.button-action>div.yith-compare a.compare,.button-action>div.yith-compare a.quickview,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,.button-action>div.yith-wcwl-add-to-wishlist a.add_to_wishlist,.button-action>div.yith-wcwl-add-to-wishlist a.compare,.button-action>div.yith-wcwl-add-to-wishlist a.quickview {
      display: block;
      width: 60px;
      height: 60px;
      line-height: 60px;
      padding: 0;
      background: #a1e03d;
      border-radius: 100%; }
      .button-action>div.quick-view .yith-wcwl-wishlistaddedbrowse a em,.button-action>div.quick-view .yith-wcwl-wishlistaddedbrowse a i,.button-action>div.quick-view .yith-wcwl-wishlistexistsbrowse a em,.button-action>div.quick-view .yith-wcwl-wishlistexistsbrowse a i,.button-action>div.quick-view a.add_to_wishlist em,.button-action>div.quick-view a.add_to_wishlist i,.button-action>div.quick-view a.compare em,.button-action>div.quick-view a.compare i,.button-action>div.quick-view a.quickview em,.button-action>div.quick-view a.quickview i,.button-action>div.yith-compare .yith-wcwl-wishlistaddedbrowse a em,.button-action>div.yith-compare .yith-wcwl-wishlistaddedbrowse a i,.button-action>div.yith-compare .yith-wcwl-wishlistexistsbrowse a em,.button-action>div.yith-compare .yith-wcwl-wishlistexistsbrowse a i,.button-action>div.yith-compare a.add_to_wishlist em,.button-action>div.yith-compare a.add_to_wishlist i,.button-action>div.yith-compare a.compare em,.button-action>div.yith-compare a.compare i,.button-action>div.yith-compare a.quickview em,.button-action>div.yith-compare a.quickview i,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a em,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a i,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a em,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a i,.button-action>div.yith-wcwl-add-to-wishlist a.add_to_wishlist em,.button-action>div.yith-wcwl-add-to-wishlist a.add_to_wishlist i,.button-action>div.yith-wcwl-add-to-wishlist a.compare em,.button-action>div.yith-wcwl-add-to-wishlist a.compare i,.button-action>div.yith-wcwl-add-to-wishlist a.quickview em,.button-action>div.yith-wcwl-add-to-wishlist a.quickview i {
        color: #fff;
        font-size: 14px;
        line-height: 32px;
        margin: 0; }
      .button-action>div.quick-view .yith-wcwl-wishlistaddedbrowse a:hover,.button-action>div.quick-view .yith-wcwl-wishlistexistsbrowse a:hover,.button-action>div.quick-view a.add_to_wishlist:hover,.button-action>div.quick-view a.compare:hover,.button-action>div.quick-view a.quickview:hover,.button-action>div.yith-compare .yith-wcwl-wishlistaddedbrowse a:hover,.button-action>div.yith-compare .yith-wcwl-wishlistexistsbrowse a:hover,.button-action>div.yith-compare a.add_to_wishlist:hover,.button-action>div.yith-compare a.compare:hover,.button-action>div.yith-compare a.quickview:hover,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:hover,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:hover,.button-action>div.yith-wcwl-add-to-wishlist a.add_to_wishlist:hover,.button-action>div.yith-wcwl-add-to-wishlist a.compare:hover,.button-action>div.yith-wcwl-add-to-wishlist a.quickview:hover {
        background: #fff;
        -webkit-transition: all .35s ease 0s;
        -o-transition: all .35s ease 0s;
        transition: all .35s ease 0s; }
        .button-action>div.quick-view .yith-wcwl-wishlistaddedbrowse a:hover em,.button-action>div.quick-view .yith-wcwl-wishlistaddedbrowse a:hover i,.button-action>div.quick-view .yith-wcwl-wishlistexistsbrowse a:hover em,.button-action>div.quick-view .yith-wcwl-wishlistexistsbrowse a:hover i,.button-action>div.quick-view a.add_to_wishlist:hover em,.button-action>div.quick-view a.add_to_wishlist:hover i,.button-action>div.quick-view a.compare:hover em,.button-action>div.quick-view a.compare:hover i,.button-action>div.quick-view a.quickview:hover em,.button-action>div.quick-view a.quickview:hover i,.button-action>div.yith-compare .yith-wcwl-wishlistaddedbrowse a:hover em,.button-action>div.yith-compare .yith-wcwl-wishlistaddedbrowse a:hover i,.button-action>div.yith-compare .yith-wcwl-wishlistexistsbrowse a:hover em,.button-action>div.yith-compare .yith-wcwl-wishlistexistsbrowse a:hover i,.button-action>div.yith-compare a.add_to_wishlist:hover em,.button-action>div.yith-compare a.add_to_wishlist:hover i,.button-action>div.yith-compare a.compare:hover em,.button-action>div.yith-compare a.compare:hover i,.button-action>div.yith-compare a.quickview:hover em,.button-action>div.yith-compare a.quickview:hover i,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:hover em,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:hover i,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:hover em,.button-action>div.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:hover i,.button-action>div.yith-wcwl-add-to-wishlist a.add_to_wishlist:hover em,.button-action>div.yith-wcwl-add-to-wishlist a.add_to_wishlist:hover i,.button-action>div.yith-wcwl-add-to-wishlist a.compare:hover em,.button-action>div.yith-wcwl-add-to-wishlist a.compare:hover i,.button-action>div.yith-wcwl-add-to-wishlist a.quickview:hover em,.button-action>div.yith-wcwl-add-to-wishlist a.quickview:hover i {
          color: #000; }
  .button-action>div.yith-compare .compare.added {
    color: transparent !important; }
    .button-action>div.yith-compare .compare.added:before {
      content: "\f0ec";
      font-family: FontAwesome;
      position: absolute;
      color: #666;
      width: 40px;
      height: 40px; }
    .button-action>div.yith-compare .compare.added:hover {
      color: #a1e03d; }
  .button-action .yith-wcwl-wishlistexistsbrowse span,.button-action>div.clear,.button-action>div .title,.button-action>div .yith-wcwl-wishlistaddedbrowse .feedback,.button-action>div .yith-wcwl-wishlistexistsbrowse .feedback {
    display: none; }

div[class*=add-to-wishlist] {
  margin-top: 0;
  position: relative; }
  div[class*=add-to-wishlist] .ajax-loading {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0; }

a.add_to_wishlist {
  display: block; }

.yith-wcwl-add-to-wishlist {
  margin-top: 0; }

/**
 * Products Listing In Grid Style
 */
.products-grid div.product {
  position: relative;
  margin-bottom: 30px; }

.products-grid .first {
  clear: both; }

.products-grid .product-block .button-groups>div.yith-wcwl-add-to-wishlist span {
  display: none; }

.products-grid .product-block .button-groups>div.yith-wcwl-add-to-wishlist .ajax-loading {
  position: absolute;
  left: 4px;
  top: 5px; }

.products-grid .product-block .button-groups>div.clear,.products-grid .product-block .button-groups>div .title,.products-grid .product-block .button-groups>div .yith-wcwl-wishlistaddedbrowse .feedback,.products-grid .product-block .button-groups>div .yith-wcwl-wishlistexistsbrowse .feedback {
  display: none; }

.list .rating:after,.list .rating:before,.products-list .rating:after,.products-list .rating:before {
  content: " ";
  display: table; }

.list .rating:after,.products-list .rating:after {
  clear: both; }

.list .rating .star-rating,.products-list .rating .star-rating {
  float: right; }
  .rtl .list .rating .star-rating,.rtl .products-list .rating .star-rating {
    float: left; }

.list .clear,.products-list .clear {
  display: none; }

.list .product-block,.products-list .product-block {
  border-bottom: 1px solid #ededed; }
  .list .product-block .name,.products-list .product-block .name {
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px; }
  .list .product-block .image,.products-list .product-block .image {
    margin-bottom: 20px; }
  .list .product-block .product-assets,.products-list .product-block .product-assets {
    text-align: right; }
    .rtl .list .product-block .product-assets,.rtl .products-list .product-block .product-assets {
      text-align: left; }
  .list .product-block .yith-wcwl-add-button a,.list .product-block .yith-wcwl-add-button a.add_to_wishlist,.list .product-block .yith-wcwl-wishlistaddedbrowse a,.list .product-block .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist,.list .product-block .yith-wcwl-wishlistexistsbrowse a,.list .product-block .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist,.products-list .product-block .yith-wcwl-add-button a,.products-list .product-block .yith-wcwl-add-button a.add_to_wishlist,.products-list .product-block .yith-wcwl-wishlistaddedbrowse a,.products-list .product-block .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist,.products-list .product-block .yith-wcwl-wishlistexistsbrowse a,.products-list .product-block .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist {
    color: #666;
    font-weight: 400;
    line-height: 30px; }
    .list .product-block .yith-wcwl-add-button a.add_to_wishlist:hover,.list .product-block .yith-wcwl-add-button a:hover,.list .product-block .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist:hover,.list .product-block .yith-wcwl-wishlistaddedbrowse a:hover,.list .product-block .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist:hover,.list .product-block .yith-wcwl-wishlistexistsbrowse a:hover,.products-list .product-block .yith-wcwl-add-button a.add_to_wishlist:hover,.products-list .product-block .yith-wcwl-add-button a:hover,.products-list .product-block .yith-wcwl-wishlistaddedbrowse a.add_to_wishlist:hover,.products-list .product-block .yith-wcwl-wishlistaddedbrowse a:hover,.products-list .product-block .yith-wcwl-wishlistexistsbrowse a.add_to_wishlist:hover,.products-list .product-block .yith-wcwl-wishlistexistsbrowse a:hover {
      color: #a1e03d; }
  .list .product-block .yith-wcwl-wishlistexistsbrowse a,.products-list .product-block .yith-wcwl-wishlistexistsbrowse a {
    display: none; }
  .list .product-block a.compare,.list .product-block a.quickview,.products-list .product-block a.compare,.products-list .product-block a.quickview {
    color: #666;
    font-weight: 400;
    line-height: 30px; }
    .list .product-block a.compare.added,.list .product-block a.compare:hover,.list .product-block a.quickview.added,.list .product-block a.quickview:hover,.products-list .product-block a.compare.added,.products-list .product-block a.compare:hover,.products-list .product-block a.quickview.added,.products-list .product-block a.quickview:hover {
      color: #a1e03d; }
  .list .product-block .add-cart a.button,.products-list .product-block .add-cart a.button {
    color: #fff;
    background: #a1e03d; }
    .list .product-block .add-cart a.button:hover,.products-list .product-block .add-cart a.button:hover {
      color: #fff; }

.list .type-product:last-child .product-block,.products-list .type-product:last-child .product-block {
  border-bottom: none; }

/**
 * Single product
 */
/*------------------------------------*    Quantity inputs
\*------------------------------------*/
.quantity {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
  float: left; }
  .quantity span {
    font-size: 16px;
    margin-right: 5px; }
    .rtl .quantity span {
      margin-left: 5px;
      margin-right: inherit; }
  .rtl .quantity {
    float: right; }
  .quantity input.qty {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 10px;
    width: 45px;
    height: 35px;
    color: #000;
    font-weight: 400;
    border: 1px solid #e5e5e5; }
    .quantity input.qty:focus:focus {
      border-color: #f10e34;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .quantity .minus,.quantity .plus {
    background: #fff;
    float: right;
    clear: right;
    display: block;
    padding: 0;
    margin: 0;
    vertical-align: text-top;
    overflow: visible;
    text-decoration: none;
    cursor: pointer;
    line-height: 13px;
    font-size: 12px;
    color: #777;
    border: 1px solid #ededed;
    text-align: center;
    width: 25px;
    height: 19px; }
    .rtl .quantity .minus,.rtl .quantity .plus {
      float: left;
      clear: left; }
  .quantity .plus {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    right: 0; }
    .rtl .quantity .plus {
      left: 0;
      right: auto; }
  .quantity .minus {
    bottom: 0;
    right: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0; }
    .rtl .quantity .minus {
      left: 0;
      right: auto; }

/* Single > Meta */
.product_meta {
  clear: both;
  border-top: 1px solid #ededed;
  padding: 20px 0;
  margin-top: 20px; }
  .product_meta a {
    color: #777;
    font-size: 14px; }
    .product_meta a:hover {
      text-decoration: none; }
  .product_meta>span {
    display: block;
    font-weight: 300;
    color: #000; }
  .product_meta>div {
    margin-bottom: 10px; }
  .product_meta .posted_in a,.product_meta .tagged_as a {
    font-weight: 300; }

.sku_wrapper span {
  color: #777; }

/* cross-sells */
.woocommerce .cart_totals,.woocommerce .cross-sells {
  padding: 0 20px; }
  .woocommerce .cart_totals .products,.woocommerce .cross-sells .products {
    border: none;
    box-shadow: none; }

.single-product.woocommerce div.product .product_title {
  text-transform: uppercase; }

.single-product.woocommerce div.product div.images img {
  width: auto;
  margin-bottom: 15px; }

.single-product.woocommerce div.product p.price {
  color: #a1e03d;
  font-size: 30px;
  font-weight: 700 !important; }

.single-product.woocommerce div.product form.cart {
  margin-bottom: 20px;
  margin-top: 20px; }
  .single-product.woocommerce div.product form.cart div.quantity {
    margin-right: 10px;
    margin-bottom: 5px; }
    .rtl .single-product.woocommerce div.product form.cart div.quantity {
      margin-left: 10px;
      margin-right: inherit; }
  .single-product.woocommerce div.product form.cart .button {
    background: #a1e03d;
    font-weight: 600; }
    .single-product.woocommerce div.product form.cart .button i {
      margin: 0 5px; }
    .single-product.woocommerce div.product form.cart .button:hover {
      background: #88ca20; }
  .single-product.woocommerce div.product form.cart .variations .label {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px; }
  .single-product.woocommerce div.product form.cart .variations tr {
    height: 50px; }
    .single-product.woocommerce div.product form.cart .variations tr label {
      margin-top: 5px; }

.single-product.woocommerce div.product form.variations_form {
  float: none; }

.single-product.woocommerce div.product p.cart {
  margin-top: 20px; }

.single-product.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 10px; }

.single-product.woocommerce .quantity .qty {
  width: 90px;
  height: 42px;
  border-radius: 30px;
  background: #f1f1f1; }

.single-product .summary {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 14px;
  /* 9 */
  font-size: 1.4rem;
  /* 9 */
  width: 100% !important; }
  .single-product .summary .star-rating {
    font-size: 12px; }
  .single-product .summary .product_meta {
    padding-top: 30px;
    margin-top: 0; }

.single-product .products-collection {
  margin-bottom: 50px; }

.woocommerce div.product .woocommerce-tabs {
  margin-bottom: 30px; }
  .woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0;
    margin-top: 30px;
    text-align: center; }
    .woocommerce div.product .woocommerce-tabs ul.tabs li {
      border: none;
      background: transparent;
      border-radius: 0;
      padding: 0;
      margin: 0; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li>a {
        color: #999;
        padding: 13px 20px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: Poppins,monospace; }
        .woocommerce div.product .woocommerce-tabs ul.tabs li>a:hover {
          color: #a1e03d; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li.active>a {
        color: #1f252b; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,.woocommerce div.product .woocommerce-tabs ul.tabs li:after,.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
        content: none; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
        background: none; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li:first-child a {
        padding-left: 0; }
    .woocommerce div.product .woocommerce-tabs ul.tabs:before {
      border-bottom: none; }
    .woocommerce div.product .woocommerce-tabs ul.tabs:after {
      content: "";
      position: absolute;
      width: 80px;
      height: 5px;
      background: #a1e03d;
      bottom: 0;
      left: 50%;
      margin-left: -40px; }
  .woocommerce div.product .woocommerce-tabs .wc-tab {
    font-size: 14px;
    font-weight: 300; }
  .woocommerce div.product .woocommerce-tabs h2,.woocommerce div.product .woocommerce-tabs h3 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0; }

/**
 * Category And Listing Page
 */
.products-top-wrap {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed; }
  .products-top-wrap .woocommerce-ordering {
    float: right;
    margin-top: 10px; }
    .rtl .products-top-wrap .woocommerce-ordering {
      float: left; }
  .products-top-wrap .display-mode {
    float: left;
    margin-top: 10px; }
    .rtl .products-top-wrap .display-mode {
      float: right; }
    .products-top-wrap .display-mode .btn {
      border-radius: 0;
      background-color: transparent;
      font-size: 14px;
      line-height: 16px;
      padding: 8px;
      color: #cdcdcd;
      box-shadow: none;
      -webkit-box-shadow: none; }
      .products-top-wrap .display-mode .btn.active {
        color: #a1e03d; }
    .products-top-wrap .display-mode button:first-child {
      margin-right: 5px; }
      .rtl .products-top-wrap .display-mode button:first-child {
        margin-left: 5px;
        margin-right: inherit; }
    .products-top-wrap .display-mode button {
      border: 1px solid #ededed; }

.category-banner {
  margin-bottom: 30px; }

.products-bottom-wrap {
  padding: 10px 20px;
  border-top: 1px solid #ededed;
  margin: 30px 0; }
  .products-bottom-wrap .woocommerce-pagination {
    float: left; }
    .rtl .products-bottom-wrap .woocommerce-pagination {
      float: right; }
  .products-bottom-wrap nav.woocommerce-pagination ul,.products-bottom-wrap nav.woocommerce-pagination ul li {
    border: none; }
    .products-bottom-wrap nav.woocommerce-pagination ul li span.current,.products-bottom-wrap nav.woocommerce-pagination ul span.current {
      background: transparent;
      color: #a1e03d;
      text-decoration: underline;
      padding: 10px 15px;
      font-weight: 700; }
    .products-bottom-wrap nav.woocommerce-pagination ul a,.products-bottom-wrap nav.woocommerce-pagination ul li a {
      padding: 10px 15px;
      font-weight: 700;
      color: #000; }
      .products-bottom-wrap nav.woocommerce-pagination ul a:hover,.products-bottom-wrap nav.woocommerce-pagination ul li a:hover {
        background: transparent;
        color: #a1e03d; }
  .products-bottom-wrap .woocommerce-result-count {
    float: right;
    margin: 8px 0; }
    .rtl .products-bottom-wrap .woocommerce-result-count {
      float: left; }

/*------------------------------------*    Quickview
\*------------------------------------*/
#opal-quickview-modal .modal-dialog {
  overflow: hidden; }
  #opal-quickview-modal .modal-dialog del .amount {
    color: #777; }
  @media (max-width: 991px) {
    #opal-quickview-modal .modal-dialog.modal-lg {
      width: 90%;
      margin: 15px auto; } }

#opal-quickview-modal .product-info {
  margin: 0;
  padding: 0; }
  #opal-quickview-modal .product-info .summary {
    margin-right: 20px;
    width: 95%; }
    .rtl #opal-quickview-modal .product-info .summary {
      margin-left: 20px;
      margin-right: inherit; }
  #opal-quickview-modal .product-info .product_title {
    padding-top: 0;
    margin-top: 0;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 30px;
    /* 9 */
    font-size: 3rem;
    /* 9 */ }
  #opal-quickview-modal .product-info .product_meta {
    margin: 0; }
    #opal-quickview-modal .product-info .product_meta:after,#opal-quickview-modal .product-info .product_meta:before {
      content: " ";
      display: table; }
    #opal-quickview-modal .product-info .product_meta:after {
      clear: both; }
  #opal-quickview-modal .product-info p.price {
    color: #a1e03d;
    font-weight: 700;
    font-size: 16px; }
  #opal-quickview-modal .product-info a.add_to_cart_button {
    padding: 15px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 0;
    background-color: #a1e03d; }
    #opal-quickview-modal .product-info a.add_to_cart_button i,#opal-quickview-modal .product-info a.add_to_cart_button span {
      color: #fff;
      margin: 0 5px; }

#opal-quickview-modal .close:hover .fa,#opal-quickview-modal .close:hover .icon {
  color: #a1e03d; }

#opal-quickview-modal #quickview-carousel {
  overflow: hidden; }
  #opal-quickview-modal #quickview-carousel:hover .left {
    left: 15px; }
    .rtl #opal-quickview-modal #quickview-carousel:hover .left {
      right: 15px;
      left: auto; }
  #opal-quickview-modal #quickview-carousel:hover .right {
    right: 15px; }
    .rtl #opal-quickview-modal #quickview-carousel:hover .right {
      left: 15px;
      right: auto; }

#opal-quickview-modal .carousel-indicators li {
  border-color: #a1e03d; }

#opal-quickview-modal .carousel-indicators .active {
  background: #a1e03d;
  border-color: #a1e03d; }

#opal-quickview-modal .carousel-control {
  top: 0;
  margin: 45% auto;
  font-weight: 400;
  line-height: 32px;
  -webkit-transition: all .45s ease;
  -o-transition: all .45s ease;
  transition: all .45s ease; }
  #opal-quickview-modal .carousel-control.left {
    left: -45px; }
    .rtl #opal-quickview-modal .carousel-control.left {
      right: -45px;
      left: auto; }
  #opal-quickview-modal .carousel-control.right {
    right: -45px; }
    .rtl #opal-quickview-modal .carousel-control.right {
      left: -45px;
      right: auto; }

.woocommerce form .form-row {
  margin: 22px 0 11px;
  padding: 0; }

.woocommerce-cart table.cart .product-thumbnail img {
  width: 60px; }

.woocommerce div.product form.cart .group_table td.label {
  padding-top: 5px;
  vertical-align: middle; }

.rtl.woocommerce #content div.product div.images,.rtl.woocommerce-page #content div.product div.images,.rtl.woocommerce-page div.product div.images,.rtl.woocommerce div.product div.images {
  float: right; }

.rtl.woocommerce #content div.product div.summary,.rtl.woocommerce-page #content div.product div.summary,.rtl.woocommerce-page div.product div.summary,.rtl.woocommerce div.product div.summary {
  float: left; }

/**
 * Checkout Page
 */
/**
 * Thanks you page
 */
/************************
 * Form Styles
 ************************/
.woocommerce #respond input#submit,.woocommerce button.button,.woocommerce input.button {
  color: #fff;
  background-color: #f10e34;
  border-color: #d90d2f;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px; }
  .woocommerce #respond input#submit.focus,.woocommerce #respond input#submit:focus,.woocommerce button.button.focus,.woocommerce button.button:focus,.woocommerce input.button.focus,.woocommerce input.button:focus {
    color: #fff;
    background-color: #c10b2a;
    border-color: #600615; }
  .open>.woocommerce #respond input#submit.dropdown-toggle,.open>.woocommerce button.button.dropdown-toggle,.open>.woocommerce input.button.dropdown-toggle,.woocommerce #respond input#submit.active,.woocommerce #respond input#submit:active,.woocommerce #respond input#submit:hover,.woocommerce button.button.active,.woocommerce button.button:active,.woocommerce button.button:hover,.woocommerce input.button.active,.woocommerce input.button:active,.woocommerce input.button:hover {
    color: #fff;
    background-color: #c10b2a;
    border-color: #9f0922; }
    .open>.woocommerce #respond input#submit.dropdown-toggle.focus,.open>.woocommerce #respond input#submit.dropdown-toggle:focus,.open>.woocommerce #respond input#submit.dropdown-toggle:hover,.open>.woocommerce button.button.dropdown-toggle.focus,.open>.woocommerce button.button.dropdown-toggle:focus,.open>.woocommerce button.button.dropdown-toggle:hover,.open>.woocommerce input.button.dropdown-toggle.focus,.open>.woocommerce input.button.dropdown-toggle:focus,.open>.woocommerce input.button.dropdown-toggle:hover,.woocommerce #respond input#submit.active.focus,.woocommerce #respond input#submit.active:focus,.woocommerce #respond input#submit.active:hover,.woocommerce #respond input#submit:active.focus,.woocommerce #respond input#submit:active:focus,.woocommerce #respond input#submit:active:hover,.woocommerce button.button.active.focus,.woocommerce button.button.active:focus,.woocommerce button.button.active:hover,.woocommerce button.button:active.focus,.woocommerce button.button:active:focus,.woocommerce button.button:active:hover,.woocommerce input.button.active.focus,.woocommerce input.button.active:focus,.woocommerce input.button.active:hover,.woocommerce input.button:active.focus,.woocommerce input.button:active:focus,.woocommerce input.button:active:hover {
      color: #fff;
      background-color: #9f0922;
      border-color: #600615; }
  .open>.woocommerce #respond input#submit.dropdown-toggle,.open>.woocommerce button.button.dropdown-toggle,.open>.woocommerce input.button.dropdown-toggle,.woocommerce #respond input#submit.active,.woocommerce #respond input#submit:active,.woocommerce button.button.active,.woocommerce button.button:active,.woocommerce input.button.active,.woocommerce input.button:active {
    background-image: none; }
  .woocommerce #respond input#submit.disabled,.woocommerce #respond input#submit.disabled.active,.woocommerce #respond input#submit.disabled.focus,.woocommerce #respond input#submit.disabled:active,.woocommerce #respond input#submit.disabled:focus,.woocommerce #respond input#submit.disabled:hover,.woocommerce #respond input#submit[disabled],.woocommerce #respond input#submit[disabled].active,.woocommerce #respond input#submit[disabled].focus,.woocommerce #respond input#submit[disabled]:active,.woocommerce #respond input#submit[disabled]:focus,.woocommerce #respond input#submit[disabled]:hover,.woocommerce button.button.disabled,.woocommerce button.button.disabled.active,.woocommerce button.button.disabled.focus,.woocommerce button.button.disabled:active,.woocommerce button.button.disabled:focus,.woocommerce button.button.disabled:hover,.woocommerce button.button[disabled],.woocommerce button.button[disabled].active,.woocommerce button.button[disabled].focus,.woocommerce button.button[disabled]:active,.woocommerce button.button[disabled]:focus,.woocommerce button.button[disabled]:hover,.woocommerce input.button.disabled,.woocommerce input.button.disabled.active,.woocommerce input.button.disabled.focus,.woocommerce input.button.disabled:active,.woocommerce input.button.disabled:focus,.woocommerce input.button.disabled:hover,.woocommerce input.button[disabled],.woocommerce input.button[disabled].active,.woocommerce input.button[disabled].focus,.woocommerce input.button[disabled]:active,.woocommerce input.button[disabled]:focus,.woocommerce input.button[disabled]:hover,fieldset[disabled] .woocommerce #respond input#submit,fieldset[disabled] .woocommerce #respond input#submit.active,fieldset[disabled] .woocommerce #respond input#submit.focus,fieldset[disabled] .woocommerce #respond input#submit:active,fieldset[disabled] .woocommerce #respond input#submit:focus,fieldset[disabled] .woocommerce #respond input#submit:hover,fieldset[disabled] .woocommerce button.button,fieldset[disabled] .woocommerce button.button.active,fieldset[disabled] .woocommerce button.button.focus,fieldset[disabled] .woocommerce button.button:active,fieldset[disabled] .woocommerce button.button:focus,fieldset[disabled] .woocommerce button.button:hover,fieldset[disabled] .woocommerce input.button,fieldset[disabled] .woocommerce input.button.active,fieldset[disabled] .woocommerce input.button.focus,fieldset[disabled] .woocommerce input.button:active,fieldset[disabled] .woocommerce input.button:focus,fieldset[disabled] .woocommerce input.button:hover {
    background-color: #f10e34;
    border-color: #d90d2f; }
  .woocommerce #respond input#submit .badge,.woocommerce button.button .badge,.woocommerce input.button .badge {
    color: #f10e34;
    background-color: #fff; }

.woocommerce a.button,a.yith-wcwl-add-button {
  font-weight: 400;
  border-radius: 0;
  background: transparent; }
  .woocommerce a.button:hover,a.yith-wcwl-add-button:hover {
    background: #fff;
    color: #000;
    -webkit-transition: all .35s ease 0s;
    -o-transition: all .35s ease 0s;
    transition: all .35s ease 0s; }

.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt {
  color: #fff;
  background-color: #f10e34;
  border-color: #d90d2f;
  border-radius: 30px;
  padding: 15px 30px;
  text-transform: uppercase; }
  .woocommerce #respond input#submit.alt.focus,.woocommerce #respond input#submit.alt:focus,.woocommerce a.button.alt.focus,.woocommerce a.button.alt:focus,.woocommerce button.button.alt.focus,.woocommerce button.button.alt:focus,.woocommerce input.button.alt.focus,.woocommerce input.button.alt:focus {
    color: #fff;
    background-color: #c10b2a;
    border-color: #600615; }
  .open>.woocommerce #respond input#submit.alt.dropdown-toggle,.open>.woocommerce a.button.alt.dropdown-toggle,.open>.woocommerce button.button.alt.dropdown-toggle,.open>.woocommerce input.button.alt.dropdown-toggle,.woocommerce #respond input#submit.alt.active,.woocommerce #respond input#submit.alt:active,.woocommerce #respond input#submit.alt:hover,.woocommerce a.button.alt.active,.woocommerce a.button.alt:active,.woocommerce a.button.alt:hover,.woocommerce button.button.alt.active,.woocommerce button.button.alt:active,.woocommerce button.button.alt:hover,.woocommerce input.button.alt.active,.woocommerce input.button.alt:active,.woocommerce input.button.alt:hover {
    color: #fff;
    background-color: #c10b2a;
    border-color: #9f0922; }
    .open>.woocommerce #respond input#submit.alt.dropdown-toggle.focus,.open>.woocommerce #respond input#submit.alt.dropdown-toggle:focus,.open>.woocommerce #respond input#submit.alt.dropdown-toggle:hover,.open>.woocommerce a.button.alt.dropdown-toggle.focus,.open>.woocommerce a.button.alt.dropdown-toggle:focus,.open>.woocommerce a.button.alt.dropdown-toggle:hover,.open>.woocommerce button.button.alt.dropdown-toggle.focus,.open>.woocommerce button.button.alt.dropdown-toggle:focus,.open>.woocommerce button.button.alt.dropdown-toggle:hover,.open>.woocommerce input.button.alt.dropdown-toggle.focus,.open>.woocommerce input.button.alt.dropdown-toggle:focus,.open>.woocommerce input.button.alt.dropdown-toggle:hover,.woocommerce #respond input#submit.alt.active.focus,.woocommerce #respond input#submit.alt.active:focus,.woocommerce #respond input#submit.alt.active:hover,.woocommerce #respond input#submit.alt:active.focus,.woocommerce #respond input#submit.alt:active:focus,.woocommerce #respond input#submit.alt:active:hover,.woocommerce a.button.alt.active.focus,.woocommerce a.button.alt.active:focus,.woocommerce a.button.alt.active:hover,.woocommerce a.button.alt:active.focus,.woocommerce a.button.alt:active:focus,.woocommerce a.button.alt:active:hover,.woocommerce button.button.alt.active.focus,.woocommerce button.button.alt.active:focus,.woocommerce button.button.alt.active:hover,.woocommerce button.button.alt:active.focus,.woocommerce button.button.alt:active:focus,.woocommerce button.button.alt:active:hover,.woocommerce input.button.alt.active.focus,.woocommerce input.button.alt.active:focus,.woocommerce input.button.alt.active:hover,.woocommerce input.button.alt:active.focus,.woocommerce input.button.alt:active:focus,.woocommerce input.button.alt:active:hover {
      color: #fff;
      background-color: #9f0922;
      border-color: #600615; }
  .open>.woocommerce #respond input#submit.alt.dropdown-toggle,.open>.woocommerce a.button.alt.dropdown-toggle,.open>.woocommerce button.button.alt.dropdown-toggle,.open>.woocommerce input.button.alt.dropdown-toggle,.woocommerce #respond input#submit.alt.active,.woocommerce #respond input#submit.alt:active,.woocommerce a.button.alt.active,.woocommerce a.button.alt:active,.woocommerce button.button.alt.active,.woocommerce button.button.alt:active,.woocommerce input.button.alt.active,.woocommerce input.button.alt:active {
    background-image: none; }
  .woocommerce #respond input#submit.alt.disabled,.woocommerce #respond input#submit.alt.disabled.active,.woocommerce #respond input#submit.alt.disabled.focus,.woocommerce #respond input#submit.alt.disabled:active,.woocommerce #respond input#submit.alt.disabled:focus,.woocommerce #respond input#submit.alt.disabled:hover,.woocommerce #respond input#submit.alt[disabled],.woocommerce #respond input#submit.alt[disabled].active,.woocommerce #respond input#submit.alt[disabled].focus,.woocommerce #respond input#submit.alt[disabled]:active,.woocommerce #respond input#submit.alt[disabled]:focus,.woocommerce #respond input#submit.alt[disabled]:hover,.woocommerce a.button.alt.disabled,.woocommerce a.button.alt.disabled.active,.woocommerce a.button.alt.disabled.focus,.woocommerce a.button.alt.disabled:active,.woocommerce a.button.alt.disabled:focus,.woocommerce a.button.alt.disabled:hover,.woocommerce a.button.alt[disabled],.woocommerce a.button.alt[disabled].active,.woocommerce a.button.alt[disabled].focus,.woocommerce a.button.alt[disabled]:active,.woocommerce a.button.alt[disabled]:focus,.woocommerce a.button.alt[disabled]:hover,.woocommerce button.button.alt.disabled,.woocommerce button.button.alt.disabled.active,.woocommerce button.button.alt.disabled.focus,.woocommerce button.button.alt.disabled:active,.woocommerce button.button.alt.disabled:focus,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt[disabled],.woocommerce button.button.alt[disabled].active,.woocommerce button.button.alt[disabled].focus,.woocommerce button.button.alt[disabled]:active,.woocommerce button.button.alt[disabled]:focus,.woocommerce button.button.alt[disabled]:hover,.woocommerce input.button.alt.disabled,.woocommerce input.button.alt.disabled.active,.woocommerce input.button.alt.disabled.focus,.woocommerce input.button.alt.disabled:active,.woocommerce input.button.alt.disabled:focus,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt[disabled],.woocommerce input.button.alt[disabled].active,.woocommerce input.button.alt[disabled].focus,.woocommerce input.button.alt[disabled]:active,.woocommerce input.button.alt[disabled]:focus,.woocommerce input.button.alt[disabled]:hover,fieldset[disabled] .woocommerce #respond input#submit.alt,fieldset[disabled] .woocommerce #respond input#submit.alt.active,fieldset[disabled] .woocommerce #respond input#submit.alt.focus,fieldset[disabled] .woocommerce #respond input#submit.alt:active,fieldset[disabled] .woocommerce #respond input#submit.alt:focus,fieldset[disabled] .woocommerce #respond input#submit.alt:hover,fieldset[disabled] .woocommerce a.button.alt,fieldset[disabled] .woocommerce a.button.alt.active,fieldset[disabled] .woocommerce a.button.alt.focus,fieldset[disabled] .woocommerce a.button.alt:active,fieldset[disabled] .woocommerce a.button.alt:focus,fieldset[disabled] .woocommerce a.button.alt:hover,fieldset[disabled] .woocommerce button.button.alt,fieldset[disabled] .woocommerce button.button.alt.active,fieldset[disabled] .woocommerce button.button.alt.focus,fieldset[disabled] .woocommerce button.button.alt:active,fieldset[disabled] .woocommerce button.button.alt:focus,fieldset[disabled] .woocommerce button.button.alt:hover,fieldset[disabled] .woocommerce input.button.alt,fieldset[disabled] .woocommerce input.button.alt.active,fieldset[disabled] .woocommerce input.button.alt.focus,fieldset[disabled] .woocommerce input.button.alt:active,fieldset[disabled] .woocommerce input.button.alt:focus,fieldset[disabled] .woocommerce input.button.alt:hover {
    background-color: #f10e34;
    border-color: #d90d2f; }
  .woocommerce #respond input#submit.alt .badge,.woocommerce a.button.alt .badge,.woocommerce button.button.alt .badge,.woocommerce input.button.alt .badge {
    color: #f10e34;
    background-color: #fff; }
  @media (max-width: 480px) {
    .woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt {
      padding: 15px; } }

#main-container .woocommerce button.button.single_add_to_cart_button i,.woocommerce a.add_to_cart_button i,.woocommerce a.product_type_external i {
  color: #444; }

#main-container .woocommerce button.button.single_add_to_cart_button:hover,.woocommerce a.add_to_cart_button:hover,.woocommerce a.product_type_external:hover {
  color: #000; }
  #main-container .woocommerce button.button.single_add_to_cart_button:hover:hover,.woocommerce a.add_to_cart_button:hover:hover,.woocommerce a.product_type_external:hover:hover {
    color: #a1e03d; }

.woocommerce .wishlist_table td.product-add-to-cart a {
  background: #a1e03d;
  color: #fff;
  padding: 15px 0; }
  .woocommerce .wishlist_table td.product-add-to-cart a:hover {
    color: #fff; }

/**
 * Input Form Styles
 */
.woocommerce-cart table.cart input.input-text,.woocommerce-page form .form-row .input-text,.woocommerce form .form-row .input-text,.woocommerce form .form-row textarea,.woocommerce select {
  display: block;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.62857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .woocommerce-cart table.cart input.input-text:focus,.woocommerce-page form .form-row .input-text:focus,.woocommerce form .form-row .input-text:focus,.woocommerce form .form-row textarea:focus,.woocommerce select:focus {
    border-color: #f10e34;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .woocommerce-cart table.cart input.input-text::-moz-placeholder,.woocommerce-page form .form-row .input-text::-moz-placeholder,.woocommerce form .form-row .input-text::-moz-placeholder,.woocommerce form .form-row textarea::-moz-placeholder,.woocommerce select::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .woocommerce-cart table.cart input.input-text:-ms-input-placeholder,.woocommerce-page form .form-row .input-text:-ms-input-placeholder,.woocommerce form .form-row .input-text:-ms-input-placeholder,.woocommerce form .form-row textarea:-ms-input-placeholder,.woocommerce select:-ms-input-placeholder {
    color: #999; }
  .woocommerce-cart table.cart input.input-text::-webkit-input-placeholder,.woocommerce-page form .form-row .input-text::-webkit-input-placeholder,.woocommerce form .form-row .input-text::-webkit-input-placeholder,.woocommerce form .form-row textarea::-webkit-input-placeholder,.woocommerce select::-webkit-input-placeholder {
    color: #999; }
  .woocommerce-cart table.cart input.input-text[disabled],.woocommerce-cart table.cart input.input-text[readonly],.woocommerce-page form .form-row .input-text[disabled],.woocommerce-page form .form-row .input-text[readonly],.woocommerce form .form-row .input-text[disabled],.woocommerce form .form-row .input-text[readonly],.woocommerce form .form-row textarea[disabled],.woocommerce form .form-row textarea[readonly],.woocommerce select[disabled],.woocommerce select[readonly],fieldset[disabled] .woocommerce-cart table.cart input.input-text,fieldset[disabled] .woocommerce-page form .form-row .input-text,fieldset[disabled] .woocommerce form .form-row .input-text,fieldset[disabled] .woocommerce form .form-row textarea,fieldset[disabled] .woocommerce select {
    background-color: #eee;
    opacity: 1; }
  .woocommerce-cart table.cart input.input-text[disabled],.woocommerce-page form .form-row .input-text[disabled],.woocommerce form .form-row .input-text[disabled],.woocommerce form .form-row textarea[disabled],.woocommerce select[disabled],fieldset[disabled] .woocommerce-cart table.cart input.input-text,fieldset[disabled] .woocommerce-page form .form-row .input-text,fieldset[disabled] .woocommerce form .form-row .input-text,fieldset[disabled] .woocommerce form .form-row textarea,fieldset[disabled] .woocommerce select {
    cursor: not-allowed; }

.woocommerce #content table.cart td.actions .button,.woocommerce #content table.cart td.actions .input-text,.woocommerce #content table.cart td.actions input,.woocommerce-page #content table.cart td.actions .button,.woocommerce-page #content table.cart td.actions .input-text,.woocommerce-page #content table.cart td.actions input,.woocommerce-page table.cart td.actions .button,.woocommerce-page table.cart td.actions .input-text,.woocommerce-page table.cart td.actions input,.woocommerce table.cart td.actions .button,.woocommerce table.cart td.actions .input-text,.woocommerce table.cart td.actions input {
  width: auto !important; }

.woocommerce form .form-row textarea {
  min-height: 100px; }

.woocommerce-cart table.cart input.button {
  color: #fff !important; }

.woocommerce-cart table.cart input.button:disabled:hover {
  background: #88ca20; }

.woocommerce-cart table.cart input {
  line-height: 1.62857;
  text-transform: uppercase;
  padding: 5px 15px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .woocommerce-cart table.cart input {
      width: auto !important; } }
  @media (max-width: 480px) {
    .woocommerce-cart table.cart input {
      width: auto !important; } }

.woocommerce #content table.cart td.actions .input-text,.woocommerce-page #content table.cart td.actions .input-text,.woocommerce-page table.cart td.actions .input-text,.woocommerce table.cart td.actions .input-text {
  width: auto !important;
  padding: 9px; }

.woocommerce form .form-row.woocommerce-validated .select2-container,.woocommerce form .form-row.woocommerce-validated input.input-text,.woocommerce form .form-row.woocommerce-validated select {
  border-color: #a1e03d; }

@media screen and (max-width: 480px) {
  .woocommerce-page form .form-row-first,.woocommerce-page form .form-row-last,.woocommerce form .form-row-first,.woocommerce form .form-row-last {
    float: none !important;
    width: auto !important; } }

.woocommerce-tabs .panel {
  border: none;
  margin: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none; }

.woocommerce-tabs .shop_attributes {
  border: 0 !important; }


